body {
  margin: 20px 20px;
}

.monster_form {
  height: 30px;
  margin-bottom: 15px;
  input {
    height: 100%;
    border: 1px solid #000;
    border-radius: 5px;
    margin-right: 10px;
    padding: 0 5px;
  }
  button {
    height: 100%;
  }
}

.monsters {
  list-style: none;
  padding: 0 0;
  .monster {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    .monster_name {
      width: 150px;
    }
    .edit_monster_button {
      margin-right: 5px;
    }
  }
}